* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body {
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
}

h1 {
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

.aplicacion-fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.fotos-logo-contenedor {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fotos-logo {
  width: 400px;
  height: 50px;
}

.fotos-lista-principal {
  width: 80%;
  height: 70%;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}

/* MENU NAVEGACION */

.fotos-menu {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1b1b32;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

.fotos-menu-principal {
  width: 80%;
  background-color: #d0d0d5;
  border-radius: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1b1b32;
  font-family: Roboto, sans-serif;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 12px 0;
}

.separador{
  margin: 20px;
}